html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal .80em;
  color: #fff;
  font-family: Verdana, sans-serif;
  background: #6b7a8f;
}

p {
  line-height: 1.5em;
  font-size: 107%;
}

img {
  border: 0;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 {
  font: normal 200%;
  font-family: Verdana, sans-serif;
  color: #ffce00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 0;
}

h2 {
  font: normal 170%;
  font-family: Verdana, sans-serif;
  color: #1a2930;
  margin: 0;
  padding: 0 0 8px 0;
}

a{
  width: 150px;
}

a,
a:hover {
  outline: none;
  text-decoration: none;
  color: #ffce00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: bold;
  
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 2px 0 10px 17px;
}

ul li {
  display: inline;
  list-style-type: circle;
  margin: 0 0 0 0;
  padding: 0 0 4px 5px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  color: #ffce00;
  display: none;
}

#hamburger svg {
  width: 25px;
  height: 25px;
}

.hamburger:focus {
  outline: none;
}

#main,
#menubar,
#site_content,
#footer {
  margin-left: auto;
  margin-right: auto;
}

#main {
  width: 100%px;
  margin: 20px auto;
  display: flex;
  align-self: flex-start;
}

#header {
  width: 150px;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  margin: 0.5em 0 0 5%;
  padding: 0 0 0.5em 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

ul.menu li {
  float:left;
  margin-left: 0.7em;
  padding: 0.80em 1.2em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: 1.1em;
  list-style-type: none;
  width: 150px;
}

ul.menu a {  
  display: block;
  width: 100%;
  font-family: Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  text-shadow: unset;
  color: #FFF; 
  padding: 15px 15px 15px 15px;
  text-align: center;
  background: #6b7a8f;
  border: 1px solid #1a2930;
  box-shadow: 5px 10px 18px #1a2930;

}

ul.menu li.current a {
  background: #ffce00;
  color: #000000;
}

ul.menu li a:hover {
  color: #000000;
}

#site_content {
  width: 90%;
  overflow-x: hidden;
  margin: 0 auto 0 auto;
  padding: 0;
  background: #6b7a8f;
}

#sidebar_container {
  float: right;
  width: 25%;
  margin: 25px 25px;
}

.sidebar {
  float: right;
  width: 100%;
  margin: 0 24px 27px 0;
  background: #9099a2;
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 0 15px 15px 15px;
}

.content {
  text-align: left;
  width: 60%;
  padding: 25px 0 5px 25px;
  margin: 0;
}

#content ul {
  margin: 2px 0 22px 0px;
}


.form_settings input,
.form_settings textarea {
  width: 80%;
  height: 35px;
  font: 100%;
  border: 0;
  font: sans-serif;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #000000;
}

.form_settings .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.0em;
  width: auto;
  cursor: pointer;
  color: #000000;
  padding: 5px 15px;
  background: #ffce00;
  border: 1px solid #1a2930;
  box-shadow: 5px 10px 18px #1a2930;
}

@media screen and (max-width: 1100px) {

  .menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .menu.show {
    display: flex;

  }
  .hamburger {
    display: block;
  }
}